* {
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	/**why does it show padding-top 50px?**/
	padding-top: 50px;
	margin: 0;
}

/**NAV**/
nav {
	height: 60px;
	background: #02908B;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

nav > a {
	text-align: left;
	text-decoration: none;
	color: #C2C91D;
	font-size: 26px;
	font-weight: 700;
	/**why do positin:absolute instead of padding?**/
	left: 25px;
	position: absolute;
	top: 10px;
}

nav > a > span {
	color: white;
}

nav ul {
	position: absolute;
	right: 25px;
	top: 5px;
	padding-top: 15px;
}

nav li {
	display: inline-block;
	padding: 0 15px;
}

nav li a {
	color: white;
	text-decoration: none;
	padding: 15px;
}

/**HEADER**/
header {
	background-image: url(../img/headerbg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 50%;
	color: white;
	height: 500px;
	padding-top: 15%;
	text-align: center;
}

header h1 {
	font-size: 36px;
	font-weight: bold;
}

header h2 {
	font-size: 72px; 
	letter-spacing: 20px;
	font-weight: bold;
}

header img {
	padding: 35px 0;
}

header a {
	background: #CDC71D;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 35px;
	text-decoration: none;
	/**why wont this work?**/
	transition: all 0.3s ease-in-out;
}

/**ABOUT**/
section {
	padding: 50px 0;
}

#about {
	text-align: center;
}

#about .title {
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

#about img {
	margin: 15px 0;
}

#about p {
	color: #7e8287;
	line-height: 41px;
	margin: 0 auto;
	width: 70%;
}

.about-boxes {
	color: #7e8287;
	margin: 0 auto;
	width: 80%;
}

.about-box {
	border-right: 1px solid black;
	float: left;
	margin: 3% 0;
	padding: 0 4%;
	width: 16%;
}

.about-box:last-child {
	border: none;
}

.about-box i {
	color: #02918c;
}

.about-box h2 {
	font-size: 18px;
}

.about-box p {
	font-size: 11px;
	font-weight: bold;
}

#services {
	background-image: url(../img/service.png);
	/**why didn't we do this for the top image?**/
	background-size: cover;
	display: inline-block;
	padding-left: 10%;
	width: 100%;
	background-attachment: fixed;
}

.service-wrapper {
	width: 40%;
}

#services .title {
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

#services img {
	margin: 15px 0;
}

.service-wrapper > p {
	color: #7e8287;
	line-height: 41px;
}

.service-box {
	float: left;
	width: 40%;
	color: #7e8287;
}

.service-box i {
	color: #02918c;
	margin: 5px 0;
}

.service-box p {
	font-size: 11px;
	font-weight: bold;
	margin: 15px 0;
}

.service-box.left {
	margin-left: 15%;
}

/**CONTACT**/

#contact {
	text-align: center;
	padding-bottom: 0;
}

#contact .title {
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

#contact img {
	margin: 15px 0;
}

#contact p {
	color: #7e8287;
	line-height: 41px;
	width: 53%;
	margin: 0 auto 5%;
}

.contact-form {
	background: #0b0b0b;
	color: #7D8186;
	padding: 50px 25px;
}

.contact-form input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7d8186;
	color: #7d8186;
	font-size: 24px;
	height: 30px;
	text-align: center;
	width: 60%;
}

/**why do my box borders turn blue?**/
.contact-form textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7d8186;
	border-top: 1px solid #7d8186;
	color: #7D8186;
	font-size: 24px;
	text-align: center;
	width: 60%;
	font-family: monospace;
}

.contact-form button {
	background: #cdc71d;
	border: none;
	clear: both;
	color: #0b1016;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 35px;
	text-decoration: none;
	transition: .03s ease-in-out;
}

#site-footer {
	background: black;
	padding: 10px 0;
	width: 100%;
	padding: 30px 0;
}

#site-footer {
	color: #7e8287;
	text-align: center;
}










